@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --timberwolf: #dad7cdff;
    --sage: #a3b18aff;
    --fern-green: #588157ff;
    --hunter-green: #3a5a40ff;
    --brunswick-green: #344e41ff;
}

.bg-fern-green {
    background-color: var(--fern-green);
}